# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 54433dab97d8712aac21cde1537c188d2953937ae11dca5bc2b0cf37120974c7675a9100c4cdc5bd45155842a06007ad2acd07a0c3826c1afbfac757335da33c

test:
  secret_key_base: 6679faa72951a8d47ac7f493cd5204d86a7eaad77d62636b0815af22c1f6335f61e1b923632663c44ae81704e21e0ed4912d971c3459568516ffd180ae54dbe5

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  # secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  secret_key_base: seml
