<div class="container section">
  <div class="row">
    <div class="col-md-6 vertical-container-profile">
      <%= image_tag("pro.jpg", class: "circular profile-photo")%>
    </div>
    <div class="col-md-6 vertical-container-profile">
      <div class="profile-info">
        <p>黃世禎 博士 ( Dr.Sun-Jen Huang )</p>
        <h4>現職</h4>
        <p>國立臺灣科技大學管理學院 資訊管理系所教授</p>
        <p>軟體工程與管理研究中心教授</p>
        <p><i class="fa fa-phone fa-lg" aria-hidden="true"></i>  (02) 2737-6779</p>
        <p><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>   huangsj@mail.ntust.edu.tw</p>
      </div>

    </div>
    <div class="col-md-12 profile-details">
      <div class="details-title">
        <h3><span>聯絡方式 Contact </span></h3>
      </div>
      <div class="details">
      <p> 聯絡電話： (02) 2737-6779</p>
      <p> 傳真： (02) 2737-6777</p>
      <p> 聯絡地址：106 台北市大安區基隆路四段43號 國立臺灣科技大學 資訊管理系</p>
      <p>E-MAIL： huangsj@mail.ntust.edu.tw、huang@cs.ntust.edu.tw</p>
      </div>
    </div>
    <div class="col-md-12 profile-details">
      <div class="details-title">
        <h3><span>學歷 Education </span></h3>
      </div>
      <div class="details">
      <p> PhD, School of Computer Science & Engineering, La Trobe University, Melbourne, Australia</p>
      <p> 國立台灣工業技術學院 工程技術研究所 碩士</p>
      <p> 國立台灣工業技術學院 工業管理技術系 學士</p>
      </div>
    </div>
    <div class="col-md-12 profile-details">
      <div class="details-title">
        <h3><span>經歷 Experience </span></h3>
      </div>
      <div class="details">
      <p> 教育部科技大學評鑑委員</p>
      <p> 公共工程委員會學者專家</p>
      <p> 國立台灣科技大學科技管理所教授兼所長</p>
      <p> 國立台灣科技大學管理學院EMBA執行長</p>
      <p> 立法院『數位國會發展規劃案』協同計畫主持人</p>
      <p> 考試院高普考命題委員</p>
      <p> 中華民國品質學會軟體品質委員會主任委員</p>
      <p> 中華民國資訊軟體品質學會常務理事常務監事</p>
      <p> 中華民國資訊軟體協會軟體品質委員會顧問</p>
      <p> 經濟部生產力提昇計畫軟體品質CMMI計畫審議委員</p>
      <p> 經濟部資訊人員專業鑑定考試軟體設計類與專案管理類委員</p>
      <p> 中華民國品質學會軟體品質工程師認證考試委員</p>
      <p> 國立台灣科技大學計算機中心組長</p>
      <p> 台科大資管系助教、講師、助理教授、副教授</p>
      <p> 國立台灣科技大學管理學院 電子商務中心 研究員</p>
      <p> 國立台灣科技大學電資學院專利鑑定與軟體認證中心執行長</p>
      </div>
    </div>
  </div>
</div>
